<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="br.com.maplink.calculorota.common.integration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="2000" />
 </appSettings>

  <applicationSettings>
    <br.com.maplink.calculorota.common.integration.Properties.Settings>
      <setting name="br_com_maplink_calculorota_common_integration_AddresFinder_AddressFinder"
        serializeAs="String">
        <value>http://services.maplink.com.br/webservices/v3/AddressFinder/AddressFinder.asmx</value>
      </setting>
      <setting name="br_com_maplink_calculorota_common_integration_Route_Route"
        serializeAs="String">
        <value>http://services.maplink.com.br/webservices/v3/route/route.asmx</value>
      </setting>
    </br.com.maplink.calculorota.common.integration.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_CalculoRota" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288"
          maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:2981/CalculoRota.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_CalculoRota"
        contract="CalculoRota.CalculoRota" name="NetTcpBinding_CalculoRota">
        <identity>
          <userPrincipalName value="psmmarques@intra.fazenda.sp.gov.br" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>