<?xml version="1.0"?>
<configuration>
 
  <configSections>
    <section name="wcfServices" type="br.com.maplink.calculorota.common.wcf.WcfServiceConfigurationSection, maplink.calculorota.common.wcf"/>
  </configSections>
  
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="2000"/>

    <add key="token" value="c13iyCvmcC9mzwkLd0LCbmYC5mUF5m2jNGNtNGt6NmK6NJK="/>
    <!--<add key="proxy" value="http://proxy2.sede.fazenda.sp.gov.br:8080/"/>
    <add key="proxy_user" value="psmmarques"/>
    <add key="proxy_pass" value=""/>
    <add key="proxy_domain" value="intra"/>-->
    
  </appSettings>
  
  <connectionStrings/>
  
  <wcfServices consoleMode="On">
    <services>
      <add key="CalculoRota" serviceAddressPort="localhost:2981" endpointName="CalculoRota.svc" authorizedGroups="WcfServiceClients,someOtherGoup" hostType="br.com.maplink.calculorota.wcf.impl.CalculoRota, maplink.calculorota.wcf.impl" contractType="br.com.maplink.calculorota.wcf.contracts.ICalculoRotaV1, maplink.calculorota.wcf.contracts"/>
    </services>
  </wcfServices>

  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
    </defaultProxy>

    <settings>
      <servicePointManager expect100Continue="false"/>
    </settings>
  </system.net>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
