<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.serviceModel>

    <!-- Servicos disponibilizados ... -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="SoapMetadataBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="RestMetadaBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehavior">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="SoapMetadataBehavior" name="br.com.maplink.calculorota.wcfdmz.CalculoRotaSoap">
        <endpoint address="http://localhost:2986/CalculoRotaSoap.svc"
          binding="basicHttpBinding" bindingConfiguration="" name="CalculoRotaSoap"
          contract="br.com.maplink.calculorota.wcf.contracts.ICalculoRotaV1" />
      </service>
      <service name="br.com.maplink.calculorota.wcfdmz.CalculoRotaRest" behaviorConfiguration="RestMetadaBehavior">
        <endpoint address="http://localhost:2986/CalculoRotaRest.svc"
          binding="webHttpBinding" bindingConfiguration="" name="CalculoRotaRest" behaviorConfiguration="webHttpBehavior"
          contract="br.com.maplink.calculorota.wcf.contracts.ICalculoRotaRestFul" />
      </service>
    </services>
    
    <!-- Servicos Disponibilizados -->
    <!-- Client Wrapper NetTCP da camada Integration -->
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ICalculoRota" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288"
          maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:2981/CalculoRota.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICalculoRota"
        contract="CalculoRota.CalculoRota" name="NetTcpBinding_ICalculoRota">
      </endpoint>
    </client>
    
    <!-- Fim... -->
    
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
